.block {
    width: 30px;
    height: 30px;
    border: solid 1px #E9ECEF;
}

.ghost {
    opacity: 0.2;
}

.type0 {
    background-color: white;
}

.type1 {
    background-color: darkcyan;
}

.type2 {
    background-color: yellow;
}

.type3 {
    background-color: purple;
}

.type4 {
    background-color: green;
}

.type5 {
    background-color: red;
}

.type6 {
    background-color: blue;
}

.type7 {
    background-color: orange;
}