<div class="container">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="card text-white bg-info mb-3" style="width: 140px">
                <div class="card-header">Next :</div>
                <div *ngFor="let tetromino of tetrominoList">
                    <div class="centerDW card border-success m-2 " [ngStyle]="{'width' : (tetromino.matrix * 30 + 2) +'px',
                        'height' : (tetromino.matrix * 30 + 2) +'px'}">
                        <div class="row p-0 m-0 " *ngFor="let rows of tetromino.shape">
                            <div class="p-0 m-0 block {{returnColor(cube)}}" *ngFor="let cube of rows"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card border-success mb-3" *ngIf="tGrid" style="width: 302px;">
                <div class="container-fluid p-0 m-0">
                    <div class="row p-0 m-0" *ngFor="let rows of tGrid.grid">
                        <div class="p-0 m-0 block {{returnColor(cube)}}" *ngFor="let cube of rows"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 T">

        </div>
    </div>
</div>