<div class="row mt-3">
    <div class="d-none d-md-block col-md-4" style="max-width: 200px;">
        <div class="d-none d-md-block card text-white bg-success mb-3" style="min-width: 140px" *ngIf="current">
            <div class="card-header">Current :</div>
            <div class="centerDW card border-success m-2 " [ngStyle]="{'width' : (current.matrix * 30 + 2) +'px',
                        'height' : (current.matrix * 30 + 2) +'px'}">
                <div class="row p-0 m-0 " *ngFor="let rows of current.shape">
                    <div class="p-0 m-0 block {{tetrisService.returnColor(cube)}}" *ngFor="let cube of rows"></div>
                </div>
            </div>
        </div>
        <div class="card text-white bg-info mb-3" style="min-width: 140px">
            <div class="card-header">Next :</div>
            <div class="row">
                <div class="col-4  col-md-12  " *ngFor="let tetromino of tetrominoList">
                    <div class="card border-success m-2 centerDW" [ngStyle]="{'width' : (tetromino.matrix * 30 + 2) +'px',
                        'height' : (tetromino.matrix * 30 + 2) +'px'}">
                        <div class="row p-0 m-0 " *ngFor="let rows of tetromino.shape">
                            <div class="p-0 m-0 block {{tetrisService.returnColor(cube)}}" *ngFor="let cube of rows">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-md-none col-12">
        <div class="d-none d-md-block card text-white bg-success mb-3" style="min-width: 140px" *ngIf="current">
            <div class="card-header">Current :</div>
            <div class="centerDW card border-success m-2 " [ngStyle]="{'width' : (current.matrix * 30 + 2) +'px',
                        'height' : (current.matrix * 30 + 2) +'px'}">
                <div class="row p-0 m-0 " *ngFor="let rows of current.shape">
                    <div class="p-0 m-0 block {{tetrisService.returnColor(cube)}}" *ngFor="let cube of rows"></div>
                </div>
            </div>
        </div>
        <div class="card text-white bg-info mb-3" style="min-width: 140px">
            <div class="card-header">Next :</div>
            <div class="row">
                <div class="col-4  col-md-12  " *ngFor="let tetromino of tetrominoList">
                    <div class="card border-success m-2 centerDW" [ngStyle]="{'width' : (tetromino.matrix * 30 + 2) +'px',
                        'height' : (tetromino.matrix * 30 + 2) +'px'}">
                        <div class="row p-0 m-0 " *ngFor="let rows of tetromino.shape">
                            <div class="p-0 m-0 block {{tetrisService.returnColor(cube)}}" *ngFor="let cube of rows">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col" style="min-width: 340px;">
        <div (pandown)="aaa('down')" (panup)="aaa('up')" (swipeleft)="aaa('left')" (swiperight)="aaa('right')"
            class="card border-success mb-3 centerDW" *ngIf="grid" style="width: 302px;">
            <div class="container-fluid p-0 m-0">
                <div class="row p-0 m-0" *ngFor="let rows of grid.shape">
                    <div class="p-0 m-0 block {{tetrisService.returnColor(cube)}}"
                        *ngFor="let cube of rows; let i = index">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col" style="min-width: 350px;">
        <div class="card border-info mb-3">
            <div class="card-header">List of room players</div>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-4 centerW">Name</div>
                    <div class="col-4 centerW">Score</div>
                    <div class="col-4 centerW">Part Win</div>
                </div>
            </div>
            <div style="max-height: 550px; overflow-y: auto;">
                <div class="list-group-item" [ngClass]="{'silver': player.id === roomService.currentPlayer.id}"
                    *ngFor="let player of roomService.currentPlayerList">
                    <div class="row">
                        <div class="col-4 centerW">{{player.name}}</div>
                        <div class="col-4 centerW">{{player.score}}</div>
                        <div class="col-4 centerW">{{player.partWin}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>