<div class="row">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col-12 col-sm-10 col-md-8 mt-5">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to Red-Tetris !</h1>
            <p class="lead">Everyone knows the Tetris Game and everyone knows Javascript, it only remains to build
                a Tetris in Javascript.
                Yes, but ...
                Your Tetris will be multiplayer and online. It will allow you to disturb intergalactic parties during
                your long coding nights (There are still some WIFI issues on some planets).
                Your Tetris will use the latest technologiesJavascriptwhich are at the heart of a great intellectual,
                industrial and financial battle between Facebook and Google whose challenge
                is to be the master of the world.</p>
            <hr class="my-4">
            <p>My goal : 125 😄</p>
            <p>My bonus : responsive, smartphone Gesture, noBoilerPlate, profesional design, Typescript, scoring system
                during the game,
                persistence of these scores for each player, leaveModal, solo / Multiplayer mode, ghost tetromino</p>
            <p>Code with ❤️ by dpalombo <a href="http://www.frenchgorilla.com">www.frenchgorilla.com</a></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" routerLink='/room' role="button">Play</a>
            </p>
        </div>
    </div>
</div>