<div class="row">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col-12 col-sm-10 col-md-8 mt-5">
        <div class="jumbotron container">
            <h1 class="display-3">Create a new Player</h1>
            <div class="card border-primary centerDW">
                <div class="card-header">
                    <p class="lead centerH">To create a new player, please fill in the form below.</p>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="d-none d-sm-block col-4 centerH">
                            Your Name :
                        </div>
                        <div class="col-12 col-sm-8">
                            <input maxlength="30" type="text" [(ngModel)]="playerName"
                                (ngModelChange)='verifPlayerName()' class="form-control" placeholder="Your Name"
                                pattern="[a-zA-Z ]*"
                                [ngClass]="{'is-valid': playerNameStatus === 1, 'is-invalid' : playerNameStatus  > 1}" />
                            <div *ngIf="playerNameStatus === 1" class="valid-feedback">Success! This name is good.</div>
                            <div *ngIf="playerNameStatus === 2" class="invalid-feedback">Sorry, player name already
                                used.</div>
                            <div *ngIf="playerNameStatus === 3" class="invalid-feedback">Sorry, invalid player name.
                            </div>
                            <div *ngIf="playerNameStatus === 4" class="invalid-feedback">Sorry, max length 30 char.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item" *ngIf="isPlaying">
                    <div class="row">
                        <div class="col-12 centerW">
                            The game has already started, please wait until the end of the game to knock at the room.
                        </div>
                    </div>
                </div>
                <div class="list-group-item" *ngIf="playerName.length > 0 && playerNameStatus === 1 && !isPlaying">
                    <div class="row">
                        <div class="col-12 centerW">
                            <button type="button" class="btn btn-outline-success"
                                (click)="createPlayer()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>