<div class="row">
    <div class="col-0 col-sm-1 col-md-2"></div>
    <div class="col-12 col-sm-10 col-md-8 mt-5">
        <div class="jumbotron container">
            <h1 class="display-3">Create a new Room</h1>
            <div class="card border-primary centerDW">
                <div class="card-header">
                    <p class="lead centerH">To create a new room, please fill in the form below.</p>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="d-none d-sm-block col-4 centerH">
                            Your Name :
                        </div>
                        <div class="col-12 col-sm-8">
                            <input maxlength="30" type="text" [(ngModel)]="playerName"
                                (ngModelChange)='verifPlayerName()' class="form-control" placeholder="Your name"
                                pattern="[a-zA-Z ]*"
                                [ngClass]="{'is-valid': playerNameStatus === 1, 'is-invalid' : playerNameStatus  > 1}" />
                            <div *ngIf="playerNameStatus === 1" class="valid-feedback">Success! This name is good.</div>
                            <div *ngIf="playerNameStatus === 3" class="invalid-feedback">Sorry, invalid player name.
                            </div>
                            <div *ngIf="playerNameStatus === 4" class="invalid-feedback">Sorry, max length 30 char.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="d-none d-sm-block col-4 centerH">
                            Room Name :
                        </div>
                        <div class="col-12 col-sm-8">
                            <input maxlength="30" type="text" [(ngModel)]="roomId" (ngModelChange)='verifRoomId()'
                                class="form-control" placeholder="Room name" pattern="[a-zA-Z ]*"
                                [ngClass]="{'is-valid': roomIdStatus === 1, 'is-invalid' : roomIdStatus  > 1}" />
                            <div *ngIf="roomIdStatus === 1" class="valid-feedback">Success! This name is free.</div>
                            <div *ngIf="roomIdStatus === 2" class="invalid-feedback">Sorry, this name is already
                                taken. Try
                                another?</div>
                            <div *ngIf="roomIdStatus === 3" class="invalid-feedback">Sorry, invalid player name.</div>
                            <div *ngIf="roomIdStatus === 4" class="invalid-feedback">Sorry, max length 30 char.</div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="d-none d-sm-block col-4 centerH">
                            Room Mode :
                        </div>
                        <div class="col-12 col-sm-8">

                            <div class="btn-group btn-group-toggle" style="width: 100%" data-toggle="buttons">
                                <label class="btn btn-primary" [ngClass]="{'active': mode === 'solo' }">
                                    <input type="radio" value='solo' [(ngModel)]='mode' autocomplete="off">
                                    Solo
                                </label>
                                <label class="btn btn-primary" [ngClass]="{'active': mode === 'multiplayer' }">
                                    <input type="radio" value='multiplayer' [(ngModel)]='mode' autocomplete="off">
                                    Multiplayer
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item"
                    *ngIf="roomId.length > 0 && roomIdStatus === 1 && playerName.length > 0 && playerNameStatus === 1">
                    <div class="row">
                        <div class="col-12 centerW">
                            <button type="button" class="btn btn-outline-success" (click)="createRoom()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>