<div class="row">
    <div class="col-0 col-sm-1 "></div>
    <div class="col-12 col-sm-10 mt-5">
        <div class="jumbotron container">
            <h1 class="display-5" *ngIf="roomService.currentRoom">Tetris Game {{roomService.currentRoom.mode | mode}} /
                {{roomService.currentRoom.id}}</h1>
            <h1 class="display-7" *ngIf="roomService.currentRoom">Master : {{roomService.currentRoom.masterName}}</h1>
            <div class="row m-3 centerW"
                *ngIf="roomService.currentPlayer &&  roomService.currentPlayer.id !== roomService.currentRoom.masterId">
                <div class="col-12" *ngIf="roomService.currentRoom.isPlaying !== true">
                    <h3>Waiting for the start of the game ⌛</h3>
                </div>
                <div class="col-12" *ngIf="roomService.currentRoom.isPlaying && roomService.currentRoom.pause">
                    <h3>Game Pause ⌛</h3>
                </div>
            </div>
            <app-tetris-grid></app-tetris-grid>
        </div>
    </div>
</div>