<div class="row">
    <div class="col-0 col-sm-1 "></div>
    <div class="col-12 col-sm-10 mt-5">
        <div class="jumbotron container">
            <h1 class="display-3">Tetris Game :</h1>
            <div class="row mt-3">
                <div class="col-12 col-xl-9 centerDW">
                    <app-tetris-grid></app-tetris-grid>
                </div>
                <div class="col-12 col-xl-3">
                    <app-score></app-score>
                </div>
            </div>
        </div>
    </div>
</div>