<div class="row">
    <!--   <div class="col-12">
                            <div class="card border-info mb-3">
                                <div class="card-header">List of room players</div>
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-6 centerW">Name</div>
                                        <div class="col-6 centerW">Score</div>
                                    </div>
                                </div>
                                <div class="list-group-item" [ngClass]="{'silver': player === currentPlayer}"
                                    *ngFor="let player of playerList">
                                    <div class="row">
                                        <div class="col-6 centerW" *ngIf="player !== currentPlayer">{{player.name}}
                                        </div>
                                        <div class="col-6 centerW" *ngIf="player === currentPlayer">Me</div>
                                        <div class="col-6 centerW">{{player.score}}</div>
                                    </div>
                                </div>

                            </div>
                        </div> -->
</div>